{% extends "base.html" %}


{% block style %}
<link rel="stylesheet" href="../static/css/mobile.css" media="screen and (max-width:699px)">
<link rel="stylesheet" href="../static/css/style.css" media="screen and (min-width:700px)">
{% endblock %}

{% block content %}

<!-------- この下から書く -------->
<body>
    <div class="header">
        <div class="header-logo">aeta</div>
    </div>
        <a class="batsu" href="/"><img src="../static/img/batsu.png" width="30" height="30"></a>
    <div class="top">

        <h1>404</h1>
        <h2>aenakatta...</h2>
        <p>そんな時もあります</p>
        
    </div>
    <div class="footer">
        <div class="footer-logo"></div>
        </div>
</body>

<!-------- この上までに書く -------->   
{% endblock %}