{% extends "base.html" %}


{% block style %}
<link rel="stylesheet" href="../static/css/mobile.css" media="screen and (max-width:699px)">
<link rel="stylesheet" href="../static/css/style.css" media="screen and (min-width:700px)">
{% endblock %}

{% block content %}

<!-------- この下から書く -------->
<body>
    <div class="header">
        <div class="header-logo">aeta</div>
    </div>
        <a class="batsu" href="/"><img src="../static/img/batsu.png" width="30" height="30"></a>
    <div class="top">

        <h2>新規ユーザー登録</h2>
        <form action="/regist" method="POST">
            name <input class="touroku1" type="text" placeholder="お名前" name="username">
            <br>pass <input class="touroku1" type="password" placeholder="password" name="password">
            <br><input class="button" type="submit" name="regist" value="me登録">
        </form>
    </div>
    <div class="footer">
        <div class="footer-logo"></div>
        </div>


<!-------- この上までに書く -------->   
{% endblock %}